version: "3.8"

services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: vending

  pi-agent:
    build: ./client-pi
    network_mode: host